@import "utils/variables";
@import "base/base";
@import "composants/boutons";

.header {
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    align-items: center;

    h1 {
        @include header-typo;
        flex-grow: 1;
        font-weight: 500;
    }



    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.location {
    @include row;
    justify-content: center;
    box-shadow: inset 0px 2px 2px rgba(124, 122, 122, 0.5);
    background-color: rgba(234, 234, 234, 255);
    padding: 10px 0px 10px 0px;
    font-size: 14px;

    &__text {
        font-weight: bold;
    }

    &__icon {
        padding: 0px 15px 0px 0px;
    }
}

.presentation {
    background-color: rgba(247, 247, 247, 255);
    padding: 0px 0px 40px 0px;
    margin: 0px 0px 35px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 250px;
}

.steps {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0px 0px 30px 0px;
    align-items: center;

    &__title {
        text-align: left;
        width: 60%;
        max-width: 250px;
        margin: 0px 0px 10px 0px;
    }
}

.steps-menu {
    @include row;
    background-color: rgba(247, 247, 247, 255);
    box-shadow: 2px 2px 5px #ccc;
    width: 70%;
    max-width: 250px;
    align-items: center;
    border-radius: 15px;
    height: 45px;
    margin: 10px 0px 15px 0px;
    font-size: 12px;
    font-weight: bold;
    position: relative;

    &__number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $colour-primary;
        font-size: 12px;
        color: #FFFFFF;
        background-color: $colour-primary;
        position: absolute;
        left: -5px;
    }

    &__icon {
        padding: 0px 10px 0px 20px;
    }
}

.restaurants {
    background-color: rgba(247, 247, 247, 255);
    width: 100%;

    &__title {
        display: flex;
        width: 100%;
        padding: 20px 0px 20px 0px;
        justify-content: center;

    }
}

.restaurant-card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    padding: 0px 0px 35px 0px;

    &__img {
        height: 140px;
        width: 100%;
        max-width: 246px;
        border-radius: 20px 20px 0px 0px;

    }

    &__link {
        width: 80%;
        max-width: 246px;
        position: relative;
    }

    &__new {
        position: absolute;
        top: 15px;
        right: 25px;
        background-color: rgba(153, 226, 208, 255)
    }
}

.restaurant-details {
    @include row;
    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 0px 0px 5px;
    height: 60px;
    align-items: center;
    justify-content: space-between;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}


.menu-img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.main-menu {
    background-color: rgba(234, 234, 234, 255);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -50px;
    position: relative;
    padding: 25px 0px 0px 0px;

    .menu-theme {
        @include row;
        align-items: center;
        justify-content: space-around;
        margin: 0px 0px 20px 0px;
        font-size: 20px;

        h2 {
            font-family: 'Shrikhand';
            font-style: italic;
        }
    }
}

.menu-category {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0px 0px 0px 0px;

    &__title {
        width: 10%;
        max-width: 300px;
        border-bottom: 3px solid $colour-tertiary;
        position: relative;
        left: -120px;
        padding: 0px 0px 5px 0px;
    }

    h3 {
        font-weight: 100;
    }
}




.menu-selection {
    @include row;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    width: 70%;
    max-width: 300px;
    height: 53px;
    padding: 0px 0px 0px 5px;
    margin: 10px 0px 10px 0px;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    &__description {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px 0px 0px 10px;
    }

    &__price {
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        height: 100%;
        padding: 0px 10px 5px 10px;
        width: 50px;
    }

    &__title {

        font-weight: bolder;
    }
}


.menu-selection {
    position: relative;
    overflow: hidden;

    &:hover {
        .menu-selection__check {
            transform: translateX(-40px);
        }

        .menu-selection__price {
            transform: translateX(-40px);
        }

        .menu-selection__icon {
            transform: rotate(1turn);
        }
    }


    &__icon {
        border-radius: 50%;
        border: 2px solid white;
        color: $colour-tertiary;
        background-color: #FFFFFF;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 800ms ease-in-out;
    }

    &__check {
        right: -40px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        border-radius: 0px 10px 10px 0px;
        height: 100%;
        width: 40px;
        background-color: $colour-tertiary;
        transition: transform 500ms ease-in-out;
    }

    &__price {
        transition: transform 500ms ease-in-out;
    }
}

.like-icon--empty {
    position: absolute;
}

.like-icon--full {
    position: absolute;
    opacity: 0;
    background: linear-gradient(to top, $colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.like-icon--full {
    &:hover {
        opacity: 1;
        transition: opacity 1100ms;
    }
}


.menu-load--1 {
    animation: appear 200ms;
    transform-origin: 50% top;
    animation-delay: 200ms;
}

.menu-load--2 {
    animation: appear 400ms;
    transform-origin: 50% top;
    animation-delay: 200ms;
}

.menu-load--3 {
    animation: appear 600ms;
    transform-origin: 50% top;
    animation-delay: 200ms;
}

@keyframes appear {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    25% {
        transform: scaleY(0.25);
        opacity: 0.25;
    }

    50% {
        opacity: 0.50;
        transform: scaleY(0.50);
    }

    75% {
        
        transform: scaleY(0.75);
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}
/*
      .loading-page {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 3;
      }

      A TERMINER
 */


.footer {
    background-color: rgba(53, 53, 53, 255);
    color: #FFFFFF;
    display: flex;
    height: 200px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 20px 0px 0px 0px;
    text-align: left;

    &__logo {
        display: flex;
        font-family: 'Shrikhand';
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        padding: 0px 0px 20px 0px;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
    }

}

.list-line {
    display: flex;
    padding: 0px 0px 10px 0px;

    &__link {
        @include row;
        color: #FFFFFF;
    }

}