@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500;700;900 & display=swap');

a{
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, 'Shrikhand', cursive;
    margin: 0px;
    padding: 0px;
}

body {
    margin-left: auto;
    margin-right: auto;
} 