/*dans utils/, vous rangez vos variables, fonctions, mixins et les  
%placeholders pour les extensions (si vous en utilisez) ;*/



$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$btn-padding: 0px 0px 0px 0px;

@mixin header-typo{
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 900px;
}

@mixin row{
        display: flex;
        flex-direction: row;
    }
