$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$btn-padding: 0px 0px 0px 0px;

@mixin header-typo{
    font-family: 'Shrikhand';
font-style: italic;
    font-weight: 900;
    font-size:2em;
}

@mixin row{
        display: flex;
        flex-direction: row;
    }
